/*.btnMargin {*/
/*  margin: 0.375rem;*/
/*}*/

.bgDark {
  background-color: rgb(52, 58, 64);
  /*background-color: rgb(42, 50, 56);*/
}

.tt{
  background-color: rgba(170, 102, 204, 0.1);
}

.th:hover {
  background-color: rgba(0, 0, 0, 0.1);
}